@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #048853;


}
header{
    background-color: #048853;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.menu li{
    display: inline-block;
    margin: 10px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;  

}
a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-login{
    display: flex;
    align-items: center;
}
.menu-login ul, li{
    margin: 20px;
    list-style: none;
}
.menu-login button{
    width: 133px;
    height: 40px;
}
.titulo{
    display: flex;
    margin-left: 143px;
    margin-top: 129px;
}
.titulo p{
    margin-top: 18px;
    font-size: 16px;
}
.titulo button{
    margin-top: 38px;
    width: 237px;
    height: 70px;
    color: #048853;
    font-size: 16px;
}
.titulo h1{
    color: white;
    font-size: 52px;
    font-weight: 700px;
    font-family: 'Poppins', sans-serif;

}