@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-image: linear-gradient( to left, #000000 -84%, #048853); 


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.menu li{
    display: inline-block;
    margin: 10px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;  

}
a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-login{
    display: flex;
    align-items: center;
}
.menu-login ul, li{
    margin: 20px;
    list-style: none;
}
.menu-login button{
    width: 133px;
    height: 40px;
}

.img-casa{
    margin-right: 10px;
    align-items: right;
}
.bolinha1{
    position: absolute;

}
.carrosel{
    width: 100%;
    height: 1000px;
    background-color: white;
    text-align: center;
    padding: 109px;
    font-family: 'Poppins', sans-serif;
}
.carrosel h1{
    font-size: 48px;
    color: #048853;
 
}
.post{
    background-color: #048853;
    width: 100px;
    height: 100px;
}
.titulo{
    width: 100%;
    height: 500px;
}
.tudo-texto{
    padding-left: 135px;
    padding-top: 100px

}
.tudo-texto h1{
    font-size: 52px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.tudo-texto p{
    margin-top: 18px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
