@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-image: linear-gradient(180deg,  #048853 , #000000D6);



}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.menu li{
    display: inline-block;
    margin: 10px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;  

}
a{
    text-decoration: none;
    color: white;
    font-family: Poppins;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-login{
    display: flex;
    align-items: center;
}
.menu-login ul, li{
    margin: 20px;
    list-style: none;
}
.menu-login button{
    width: 133px;
    height: 40px;
}

.tudo-texto{
    height: 700px;
    width: 100%;
}
.texto-img{
    background-image: url(imagem-casa2.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 100px;
    width: 100px;
    padding: 300px;
    margin-top: 100px;
    margin-left: 130px;
}
.texto-texto{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px ;
    padding: 100px;
}
.texto-texto p{
 font-size: 16px;
 
}
.pesquisar{
    width: 237px;
    height: 70px;
    margin-top: 38px;
    color: #048853;
    font-family: 'Poppins', sans-serif;

}
.carrosel1, .carrosel2, .carrosel3{
    width: 380px;
    height: 313px;
    background-color: antiquewhite;
    margin-left: 20px;

}
.carrosel{
    width: 100%;
    height: 580px;
    background: #E5E5E5;
    color: white;
    text-align: center;
    align-items: center;
}
.carrosel-texto{
    padding-top: 109px;
    padding-bottom: 46px ;
}
.carrosel-texto h1{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #048853;
}
.carrosel-texto p{
    color: black;
    font-family: 'Poppins', sans-serif;

}
.tudo-carrosel{
    display: flex;
    justify-content: center;
}
.carrosel1{
    background-color: white;

}
.carrosel2{
    background-color: white;
}
.carrosel3{
    background-image: linear-gradient(180deg,  #048853 , #000000D6);
    color: white;
}
.bola{
    padding-top: 59px;
}
.carrosel3 {
    padding-top: 13px;
    font-family: 'Poppins', sans-serif;

}
.carrosel3 img{
 padding-top: 59px;

}
.carroel2{
    padding-top: 13px;
    
}
.h1-carrosel2{
    color:#048853;
    font-family: 'Poppins', sans-serif;
    padding-top: 13px;

}
.img-carrosel2{
    padding-top: 59px;

}
.p-carrosel2{
 color: black;
 padding-top: 13px;
 font-family: 'Poppins', sans-serif;

}
.h1-carrosel1{
    color:#048853;
    font-family: 'Poppins', sans-serif;
    padding-top: 13px;

}
.p-carrosel1{
    color: black;
    padding-top: 13px;
    font-family: 'Poppins', sans-serif;
   
}
.img-carrosel1{
    padding-top: 59px;

}
.casas{
    background-color: #E5E5E5;

    padding: 55px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;  
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;  
   
}
.casa1, .casa2, .casa3, .casa4, .casa5, .casa6{
    margin: 30px;
    padding-top: 61px;
}
.h1-casas{
    font-size: 48px;
    text-align: center;
    padding-top: 104px;
    font-family: 'Poppins', sans-serif;
    color: #048853;

}
.texto-casas{
    padding-top: 104px;
}
.tudo-casas{
    background-color: #E5E5E5;
    

}
.casa2{
    background-color: #048853;
    width: 363px;
    height: 469px;
    padding-top: 5px;
    box-shadow: 10px 5px 5px black;


}
.casa1{
    width: 363px;
    height: 469px;
    padding-top: 5px;


}
.casa3{
    width: 363px;
    height: 469px;
    padding-top: 5px;


}
.casa4{
    width: 363px;
    height: 469px;
    padding-top: 5px;


}
.casa5{
    width: 363px;
    height: 469px;
    padding-top: 5px;


}
.casa6{
    width: 363px;
    height: 469px;
    padding-top: 5px;
    

}

.footer1{
    display: flex;
    background-image: url(fundo-footer1.png);
    width: 100%;
    height: 741px;
}

.tudo-footer{
    background-color: black;
    width: 100%;
    height: 600px;
    margin-top: 159px;
    color: WHITE;
    font-family: 'Poppins', sans-serif;
}
.h1-footer{
    padding-left: 97px;
}
.ul-footer1{
    padding-top: 79px;
    padding-left: 97px;
}
.ul2-footer1{
    padding-left: 97px;


}
.texto-casa1{
    padding-right: 160px;
    font-family: 'Poppins', sans-serif;

}
.p-texto{
    padding-right: 195px;

}
.p-texto2{
    padding-right: 310px;
    color: red;


}
.final-texto{
    padding-right: 305px;

}
.caract1{
    margin-top: 10px;
    width: 365px;
    height: 100px;
    font-family: 'Poppins', sans-serif;

}
.caract2{
    margin-top: 10px;
    width: 365px;
    height: 80px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;

}
.caract3{
    margin-top: 10px;
    width: 365px;
    height: 100px;
    font-family: 'Poppins', sans-serif;

}
.caract4{
    margin-top: 10px;
    width: 365px;
    height: 100px;
    font-family: 'Poppins', sans-serif;

}
.caract5{
    margin-top: 10px;
    width: 365px;
    height: 100px;
    font-family: 'Poppins', sans-serif;

}
.caract6{
    margin-top: 10px;
    width: 365px;
    height: 100px;
    font-family: 'Poppins', sans-serif;

}
.ul-caract1{
    display: flex;
    margin: auto;
}
.ul-caract1 li{
    margin: auto;
    padding-top: 24px;
    font-size: 14px;
}